extends ./layout/inicio-publico

block styles
     link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido 
        section(class="py-5")
               
               h2(class="text-center text-4xl font-extrabold pt-5")= categoria.nombre +"s en venta"

                
                if propiedades.length 
                    div(class="grid grid-cols-1 md:grid-cols-3 gap-5 mt-5")
                            each casa in propiedades 
                                div(class="bg-white shadow rounded-lg")
                                    img(class="object-cover h-72 w-full" src=`/uploads/${casa.img}` alt=`Imagen de casa ${casa.titulo}`)
                                    div(class="p-5 space-y-3")
                                        h3(class="text-2xl font-bold")= casa.titulo
                                        p(class="text-sm text-gray-600") Habitaciones:  
                                                span(class="text-gray-800 font-bold")= casa.habitaciones
                                        p(class="text-sm text-gray-600") WC:  
                                                span(class="text-gray-800 font-bold")= casa.wc

                                        p(class="text-sm text-gray-600") Precio:  
                                                span(class="text-gray-800 font-bold")= casa.precio.nombre
                                        a(href=`/propiedad/${casa.id}` class="bg-indigo-600 w-full text-center block font-bold text-white p-2 text-sm uppercase rounded-sm") Ver propiedad

                else                 
                    p(class="text-center uppercase font-bold text-2xl") No hay propiedades

block scripts 

    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/mapaInicio.js") 
